<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Public Transportation Hub</title>
    <link rel="shortcut icon" href="../graphics/favicon.ico">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<!-- Navbar -->
<body>
    <div style="background-image: url('https://github.com/spearjen/TransitData/blob/spearjay/graphics/pubTransitimage.jpg?raw=true');"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../templates/indexTransit.html">Public Transportation Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../templates/indexTransit.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/naturalLanguage.html">Public Sentiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/timeSeriesFunding.html">Federal Funding: Time Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/fundingBySource.html">Funding Sources by City & Agency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/transitAccesibility.html">Accessiblity</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">References & Resources</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Public Transportation in a Pandemic</a>
                        <a class="dropdown-item" href="#">Machine Learning and Public Transportation</a>
                        <a class="dropdown-item" href="#">More Articles of Interest</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Data Sources</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

<!-- Container -->
    <div class = "container">
        <div class="jumbotron">
            <h1 class="display-3">The Transit Hub</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>Public transit is an integral part of the landscape of an organized society. A well-developed and well-patronized public transit system provides connectivity to schooling, jobs, and other essential services. These services are especially useful for a citizenry without the financial resources to sustain the cost of ownership of a private vehicle. A robust and sustainable public transit system is also a pivotal force in combating carbon emissions as nations come to terms in the global effort in addressing climate change. 
                <br>
                <br>
                According to the American Public Transportation Association, Americans took 9.9 billion trips on public transit in 2019, which drives home the core importance of public transit in the US and the extent to which Americans rely on this public service.
                <br>
                <br>
                Public transit is also a matter that is regularly on local and state level ballots to increase or decrease funding, and is one of a few government-funded services that receives lip service support on both sides of the political aisle. However, information on public transit stops, funding, and ridership is scattered at best. Various stakeholders rely on this data to further their goals. Lawmakers amend policy and funding in order to address the needs of their constituents. Advocacy groups use this data in order to amend their requests and strategy. Local businesses use transportation options in their benefits packages when attracting new talent. 
                <br>
                <br>
                Our tool, The Transit Hub, offers a comprehensive, interactive picture of the public transit landscape across the United States.
                <br>
                <br>
                Users looking to understand the volume and sources of transit funding in different states can access the Public Transportation Funding map and see both at a glance and on a more granular scale where funding comes from for different states and the volume of said funding. On the funding page, users may also access a machine learning linear regression model that predicts transit ridership based on urban transit funding and previous year’s as well as the previous two year’s ridership, with an error rate of less than 10%. This will prove useful to lawmakers and/or advocates looking to use all available funding in a given area and understand where funding may have been exhausted from a certain source. The machine learning model will also allow users to understand approximately how much they can expect ridership to change given changes in funding. 
                (link to funding map page)
                <br>
                <br>
                Users looking to understand the relative accessibility of transit stops in different areas can access the Public Transit Accessibility map and see the distribution of bus and rail stops across the US based on available data. This will prove especially useful to lawmakers and administrators in various public transit authorities looking to understand existing accessibility of transit stops and to more accurately target new areas for expansion. Private transit companies can also utilize this map to see where business opportunities lie by looking for two main factors: where there is relatively a high population that is not being served.
                (link to connectivity map). 
                <br>
                <br>
                Users looking to understand public sentiment regarding public transit can access the Public Sentiment Map and see at a glance whether local transit users feel positively or negatively about their transit experiences. This data will prove useful to target areas for improvement in existing transit ecosystems. Positive public sentiment is an important metric for lawmakers and administrators to understand and seek to improve, as citizens who feel more positively about their local transit systems may be more likely to pass increased taxes or other funding measures. 
                (link to natural language processing page)
                </p>
        </div>
    </div>
</body>