<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Transit Hüb</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../static/js/logic2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<body style = "background-color: #e9ecef">
    <style>
        #currentImg {
        max-width: 100%;
        max-height: 100%;
        border: 1px solid rgba(0,0,0,.125)
        }
        .card-title {
            font-size: 12px;
        }
    </style>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">The Transit Hüb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="naturalLanguage">Public Sentiment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="timeSeriesFunding">Federal Funding: Time Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fundingBySource">Funding Sources by City & Agency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="transitAccesibility">Availability</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">References & Resources</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Public Transportation during a Pandemic</a>
                        <a class="dropdown-item" href="#">Machine Learning & Public Transportation</a>
                        <a class="dropdown-item" href="#">More Articles of Interest</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Data Sources</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<!-- Container -->
    <div class = "container">
        <div class = "row">
            <div class="col-sm-10">
                <h1 class="display-3">Funding: Time Series</h1>
                <p class="lead">How has federal funding changed over time?</p>
                <hr class="my-4">
                <p></p>
                <div class = 'changeViz'></div>
            </div>

            <div class="col-sm-2">
                <div class="card mb-3">
                    
                    <h5 class="card-header" style='font-size:13pt'>Select a chart</h3>

                    <div class="card-body">
                        <h11 class="card-title">Total Federal Funding</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/TotalFederalFunding.png?raw=true">

                        <h11 class="card-title">State of Good Repair Funding</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/StateOfGoodRepairFunding.png?raw=true">

                        <h11 class="card-title">Split Funding</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/CategorySplitFunding.png?raw=true">

                        <h11 class="card-title">Total vs. Ridership</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/TotalVsRidership.png?raw=true">

                        <h11 class="card-title">Sales vs. Ridership</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/SalesVsRidership.png?raw=true">

                        <h11 class="card-title">Rail vs. Ridership</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/RailVsRidership.png?raw=true">

                        <h11 class="card-title">Bus vs. Ridership</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/BusVsRidership.png?raw=true">

                        <h11 class="card-title">Funding per State</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/FederalFundingPerState.png?raw=true">

                        <h11 class="card-title">Transit Data</h11>
                        <img class="img-thumbnail" img src="https://github.com/spearjen/TransitData/blob/spearjay/graphics/TransitData.png?raw=true">
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>