<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Public Transportation: United States</title>
    <!-- <link rel="shortcut icon" href="../graphics/favicon.ico"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css" integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">
    <link rel="stylesheet" href = "gridlayout.css"
</head>

<div class = "container">
    <nav>Public Transportation</nav>
    <main>How does public transportation work in the United States?</main>
    <div id="sidebar">Preview Content</div>
    <div id="content1">Funding</div>
    <div id="content2">Accesiblity</div>
    <div id="content3">Public Sentiment</div>
    <footer>Footer</footer>
</div>
